<a href="https://colab.research.google.com/github/thasneema2414/Python_Labs/blob/main/Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ARRAY in Python

CREATING AN INTEGER ARRAY

In [27]:
# CREATING AN INTEGER ARRAY

import array

arr = array.array('i', [1, 2, 3, 4, 5, 6, 7, 8])

arr

array('i', [1, 2, 3, 4, 5, 6, 7, 8])

In [2]:
type(arr)

array.array

OPERATIONS ON ARRAY

In [5]:
# ACCESSING THE ARRAY ELEMENTS & SLICING
print(arr)
print(arr[0])
print(arr[1:5])
print(arr[-1])
print(arr[0:5])

array('i', [1, 2, 3, 4, 5, 6, 7, 8])
1
array('i', [2, 3, 4, 5])
8
array('i', [1, 2, 3, 4, 5])

MODIFYING ARRAY

In [6]:
# 1. ADD ELEMENT AT LAST
print(arr)
arr.append(10)
print("modified array: ", arr)

array('i', [1, 2, 3, 4, 5, 6, 7, 8])
modified array:  array('i', [1, 2, 3, 4, 5, 6, 7, 8, 10])

In [7]:
# 2. INSERT ELEMENT TO ANY POSITION
print(arr)
arr.insert(4, 100)
print("modified array: ", arr)

array('i', [1, 2, 3, 4, 5, 6, 7, 8, 10])
modified array:  array('i', [1, 2, 3, 4, 100, 5, 6, 7, 8, 10])

In [8]:
# 3. ADDING MULTIPLE ELEMENTS TO ARRAY
print(arr)
arr.extend([11, 12, 13, 14])
print("Array modified: ", arr)

array('i', [1, 2, 3, 4, 100, 5, 6, 7, 8, 10])
Array modified:  array('i', [1, 2, 3, 4, 100, 5, 6, 7, 8, 10, 11, 12, 13, 14])

Finding position of an element

In [9]:
print(arr.index(100))
print(arr.index(10))

4
9

REMOVING ELEMENTS FROM THE ARRAY

In [12]:
# 1. REMOVE()  Will remove the element from its first occurrence
print(arr)
arr.remove(6)
print("array after the removal: ", arr)

array('i', [1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14])
array after the removal:  array('i', [1, 2, 3, 4, 5, 7, 8, 10, 11, 12, 13, 14])

In [13]:
# 2. POP()  Will remove one element from its end
print(arr)
arr.pop()
print("Array after removing last element: ", arr)
arr.pop(0)
print("Array after removing 0th element: ", arr)

array('i', [1, 2, 3, 4, 5, 7, 8, 10, 11, 12, 13, 14])
Array after removing last element:  array('i', [1, 2, 3, 4, 5, 7, 8, 10, 11, 12, 13])
Array after removing 0th element:  array('i', [2, 3, 4, 5, 7, 8, 10, 11, 12, 13])

CREATE ARRAY OF DOUBLE TYPE

In [17]:
arr = array.array('d', [2.3, 2.4, 2.5, 2.6])
print(arr)
print()
for i in range(0, 4):
  print(arr[i], end =" ")

array('d', [2.3, 2.4, 2.5, 2.6])

2.3 2.4 2.5 2.6